/*------------------------------------
    @OBJECTS #FLEX-GRID
------------------------------------*/

/* by Nikola Jovanovic - coderman, v1.0, 2017 */

// Total columns
$cols: 12;

// Break points
$breaks: ($xs "xs") ($sm "sm") ($md "md") ($lg "lg");

.flex {
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 $gutter-width;
    max-width: 930px;

    @media (min-width: 1800px) {
	    max-width: 1936px;
    }

}