/*------------------------------------
	@COMPONENTS #HEADER
--------------------------------------*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	padding-top: 40px;
	z-index: 100;
	padding-bottom: 40px;
	@include trans;
	
	@media (min-width: 768px) {
		padding-top: 78px;
	}

	&.in {
		padding-top: 36px;
		padding-bottom: 20px;
		border-bottom: 2px solid #ccc;
	}
}