/*------------------------------------
    @COMPONENTS #BUTTONS
------------------------------------*/

.btn {
	font-weight: 700;
	border-radius: 0;
	padding: 10px 40px;
	font-size: 18px;		

	@media (min-width: 480px) {
		font-size: 20px;
	}

	@media (min-width: 1024px) {
		padding: 20px 100px;		
	}

	&, 
	&:focus,
	&:active {
		background-color: transparent;
		border: 2px solid #000;
		color: #000;
	}

	&.confirm {
		background-color: #2ecc71 !important;
		border-color: #2ecc71 !important;
		color: #fff !important;
		cursor: default !important;
	}
}

.btn {
	&:active,
	&:hover {
		background-color: #000;
		color: #fff		
	}
}