/*------------------------------------
	@COMPONENTS #CARDS
--------------------------------------*/

.card-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -20px;

	> * {
		padding: 0 20px;
	
		@media (min-width: 768px) {
			width: 50%;
		}

		@media (min-width: 1800px) {
			width: 25%;
		}
	}


}

.card {
	background-color: #fff;
	display: block;
	max-width: 440px;
	padding: 0;
	margin-bottom: 60px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 1024px) {
		margin-bottom: 128px;
	}

}

.card__img {
	box-shadow: 0 0 45px 0 rgba(0,0,0,.2);
	position: relative;
	margin-bottom: 30px;
	padding: 36px;

	@media (min-width: 768px) {
		padding: 40px 66px;
	}

	picture,
	img {
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 1024px) {
		margin-bottom: 50px;
	}

	&:hover {
		box-shadow: 0 0 20px 0 rgba(0,0,0,.2);

		.card__overlay {
			background-color: hsla(0,0%,100%,.8)
		}

		.card__btn {
			opacity: 1;
			transform: none;
			@include trans;
		}
	}

	> img {
		display: block;
		margin: 0 auto;
		max-width: 100%		
	}
}

.card__copy {
	color: #333;
	padding: 0 10px;
	text-align: center;
	font-size: 16px;

	@media (min-width: 768px) {
		font-size: 20px;
	}

	@media (min-width: 1024px) {
		padding: 0 50px;
	}
}

.card__overlay {
	align-items: center;
	background-color: hsla(0,0%,100%,0);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	@include trans;
}

.card__btn {
	opacity: 0;
	transform: translateY(180%);
	transition: none;
	transition-delay: .2s
}