/*------------------------------------
	@COMPONENTS #NAV
------------------------------------*/
.nav {
	position: relative;
	text-align: center
}

.nav__logo {
	display: inline-block;
	
	> img {
		height: 40px
	}
}


.nav__toolbox {
	position: absolute;
	right: 0;
	top: 0;

	> img {
		display: block;
		margin-bottom: 0;
		width: 44px		
	}
}


.nav__bubble {
	align-items: center;
	background-color: #000;
	border-radius: 16px;
	bottom: calc(100% - 4px);
	color: #fff;
	cursor: default;
	display: none;
	height: 32px;
	justify-content: center;
	left: calc(100% - 10px);
	line-height: 1;
	min-width: 38px;
	position: absolute;

	&.in {
		display: flex;
	}
}